@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: auto;
    padding: 0;
    background: #e8e8e8;
}
.ourson{
    width: 1000px;
    height: 350px;
    display: block;  
    margin: auto;
}